/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

body{
    background-color: #AFEEEE;
}

.container{
    width: 500px;
    height: 400px;
    margin-top: 150px;
    margin-left: 450px;
    background: rgba(15,15,88,0.7);
    border-radius: 15px;
    text-align: center;
}
.container img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

input[type="text"],input[type="password"]{
    width: 240px;
    height: 44px;
    margin-top: 20px;
    font-size: 18px;
    border: 1px solid #000;
    padding-left: 45px;
}

.navbar {
	border-radius:0px;
}

input[type="submit"]{
    padding: 15px 25px;
    background: #150;
    color: #fff;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
	margin-top:10px;
}

.cust{
    position: absolute;
    background: #fff;
    margin-right:20px;
    margin-top: 22px;
    width: 44px;
    height: 36px;
    padding-top: 8px;
	margin-left:2px;
}